body {
  background-color: black;
}

.page-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  min-height: 64px;
  background-color: blue;
}

.layout-wrapper {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
}

.left-sidebar-wrapper {
  background-color: aqua;
}

.right-sidebar-wrapper {
  background-color: aquamarine;
}

.main-content-wrapper {
  min-height: 480px;
  background-color: blueviolet;
}

footer {
  min-height: 80px;
  background-color: brown;
}

.calendar-container {
  background-color: chartreuse;
}

#calendar-input-container {
  background-color: chocolate;
}

#calendar-header {
  background-color: coral;
}

#calendar-weekdays-container {
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: rgb(151, 112, 65);
}

#calendar-days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: bisque;
}