body {
  background-color: black;
}

.page-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  min-height: 64px;
  background-color: blue;
}

.layout-wrapper {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
}

.left-sidebar {
  background-color: aqua;
}

.right-sidebar {
  background-color: aquamarine;
}

.main-content {
  min-height: 480px;
  background-color: blueviolet;
}

footer {
  min-height: 80px;
  background-color: brown;
}